ybody {
	margin: 0px;
	padding: 0;
	background: #64BC31 url(images/bg.png) repeat left top;
}

/* header */



#container{
}

#prepage
{
position: fixed;
 top: 0px;
 right: 0px;
 clip: inherit;
 width: 100%;
 height: 100%;
 background-color: #000;
 padding: 0px;
 border: 0px;
 text-align: center;
 font-family: verdana;
 font-weight: bold;
 color: #ccc;
}

#prepage p
{
margin-top: 300px;
margin-left: 600px;
}

#prepage img
{
border: 1px solid #555;
padding: 2px;
}


#social_box {
	float: right;
	display: inline-block;
	margin: 20px 0 0;
	padding: 0;
	list-style: none;
}

#social_box li {
	display: block;
	float: left;
	padding: 0;
	margin: 0;
}

#social_box li a {
	width: 46px;
	height: 46px;
	margin-right: 5px;
}

#header
{
	height: 190px;
	width: 960px;
	background: black;
	margin: 10px auto 0px auto;
}

#logo
{
margin: 0px 0px 0px 0px;
padding: 0px 0px 0px 0px;
}

#navigasi{
margin: 0px  0px 0px 0px;
padding: 0px 0px 0px 0px;
background:black;
width:960px;
height: 55px
}

/* menu */

#menu {
	float: left;
	width: 960px;
	margin-left: 70px;
}

#menu ul {
	margin-left: 20px;
	margin-top: 5px;
	padding: 0px 0px 0px 0px;
	list-style: none;
	line-height: normal;
	
}

#menu li {
	background: url(images/img01.jpg) no-repeat left 10px;
	display: block;
	float: left;
}

#menu a {
	display: block;
	float: left;
	height: 35px;
	padding: 14px 5px 0px 20px;
	letter-spacing: -1px;
	text-decoration: none;
	text-align: center;
	text-transform: lowercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #FFFFEF;
}

#menu a:hover { 
	text-decoration: none; 
	color :#148612;
}



/*banner*/

#banner {
	padding: 20px 0px 10px 0px;
	width: 960px;
	margin: 0px 0px 0px 0px;
	background: url(images/img08.jpg) repeat-y left;
	border-bottom: 10px solid #e7f6e3;
}

#banner img {
	margin-left: 250px;
}

/* content */

#page {
	width: 960px;
	margin: 0px 0px 0px 0px;
	background: url(images/img08.jpg) repeat-y left;
	border-bottom: 10px solid #e7f6e3;
}

#page-bg{
	width: 960px;
	height: 0px;
	margin: 0px auto 0px auto;
	padding: 0px 40px 0px 10px;
	background: url(images/img07.jpg) no-repeat left top;
	
}


#content {
	float: left;
	width: 700px;
	margin: 0px;
	
	border-right: 2px solid #e7f6e3;
}


#post {
	margin-left: 40px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-top: 40px;
	padding-bottom: 10px;
}

#post h1, h2 , h3{
	text-align:left;
	margin: 0;
	padding: 0;
	font-weight: bold;
	color: #004358;
	text-decoration:none;
	text-transform: capitalize;
}

#post-discographi {
	margin-left: 40px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-top: 40px;
	padding-bottom: 10px;
}
#post-discographi img
{
	padding-right:20px;
	padding-bottom:20px;
}


#post-event {
	margin-left: 45px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-top: 40px;
	padding-bottom: 10px;
}
#post-event img
{
	padding:10px;
}



p{
	text-align:justify;
	font-size:12px;
	text-indent:0px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	color:#81856C;
}

#tracklagu
{
margin-left:100px;
}
/* sidebar */

#sidebar 
{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	width:240px;
	background:black;
}

#gambar1
{
padding: 20px;
margin-left: 40px;
margin-top: 10px;

}

#gambar2
{
padding: 20px;
margin-left: 0px;
margin-top: 0px;

}

#gambar3
{
padding: 20px;
margin-left: -20px;
margin-top: 30px;
}

#gambar4
{
padding: 20px;
margin-left: 30px;
margin-top: 10px;
}
/* footer */

#footer {
	clear: both;
	height:120px;
	width: 960px;
	margin: 0px auto 0px auto;
}

#footer p {
	margin:auto 0px;
	padding: 40px 0px 20px 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-transform: capitalize;
	text-align: center;
	color: #FFFFEF;
	background: url(images/footer.jpg);
	width: 960px;
	height:40px;
}




#upfooter {
	width: 960px;
	height:290px;
	padding: 0 15px;
	margin-bottom: 0px;
	background: url(images/img08.jpg) repeat-y left;
}

/*player*/
#player{
	width: 185px;
	padding: 0 15px;
	margin-bottom: 10px;
	margin-left: 20px;
	margin-top: 30px;
	border-right: 2px solid #E0E0E0;
}



#globe
{
border-left: 2px solid #E0E0E0;
border-right: 2px solid #E0E0E0;
width:173px;
padding: 20px;
margin-left: -5px;
margin-top: 10px;
height:210px;

}

#footer_banner{
	float: left;
	width: 250px;
	margin-top: 15px;
	margin-bottom: 30px;
	margin-right: 17px;
	padding: 0;
	
}

#footer_banner li {
	display: block;
	float: left;
	padding: 0;
	margin: 0px;
}

#validasi
{
	margin-bottom: 10px;
	margin-top: 10px;
	width:173px;
	float: left;
}

.titlevalidasi {
	font-size: 16px;
	color: #004358;
	font-weight: bold;
	padding-bottom: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
	background: url(images/lines.jpg) bottom repeat-x;
}


#songsterr
{
	background: url(images/img08.jpg) repeat-y left;
	height:460px;
	width:960px;
	border-bottom: 10px solid #e7f6e3;
}
	
#songsterr1
{
	margin-left:10px;
	margin-top:0px;
	margin-right:150px;
	margin-bottom:20px;
}

#yourIP
{
	background: url(images/img08.jpg) repeat-y left;
	height:150px;
	width:960px;
	border-bottom: 10px solid #e7f6e3;
}
	
#yourIP1
{
	margin-left:300px;
	margin-top:20px;
	margin-right:150px;
	margin-bottom:20px;
}

#userbox {
    position: absolute;
    width: 480px;
    height: 324px;
    background: white;
    top: 50%;
    margin-top: -174px;
    left: 50%;
    margin-left: -240px;
    box-shadow: 0px 1px 16px rgba(0, 0, 0, 0.45);
}

#logmsk {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.32);
    box-shadow: inset 0 0 376px rgba(0, 0, 0, 0.22);
    z-index: 9999;
    display: none;
}

